#!/usr/bin/make -f		

# secondly called by launchpad		
build:
	qmake
	make

# thirdly called by launchpad		
binary: binary-indep binary-arch	

binary-indep:
	# nothing to be done

binary-arch:	
	mkdir -p debian/tmp/usr/bin
	cp -f inventory-files debian/tmp/usr/bin/
	mkdir -p debian/tmp/etc/inventory-files
	cp -f inventory-files/install-files/config.json debian/tmp/etc/inventory-files/config.json
	mkdir debian/tmp/DEBIAN
	dpkg-gencontrol -pinventory-files
	dpkg --build debian/tmp ..

# firstly called by launchpad		
clean:
	rm -f .qmake.stash
	rm -f qrc_inventory-files.cpp
	rm -f Makefile
	rm -f inventory-files

.PHONY: binary binary-arch binary-indep clean
